*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.mp3
.cxx
local.properties
/opencv460/build/.transforms
/opencv460/build/generated
/opencv460/build/intermediates
/opencv460/build/tmp
/opencv460/build/outputs/logs